@model IEnumerable<Contoso.Models.Product>
@using ContosoWeb.Utils
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Contoso Sports Online Store Recommendations</h1>
    <title>Your Recommentations</title>
    <h2>Your recomendations are:</h2>
    Semi Final Tickets
    Men's Jerseys
</div>

     