@import 'Settings';

.hero-display {

	#jumbotron-carousel {
        height: 500px;
        
        @media screen and (max-width: $size-tablet-max) {
            height: 400px;
        }
        
        #carouselIndicators {
            top: 435px;
            background: rgba(0,0,0,0.2);
            height: 65px;
            z-index: 99;

            @media screen and (max-width: $size-tablet-max) {
                top: 335px;
	        }
        }

        .carousel-inner {
            top: -65px;
        }

		.carousel-caption {
			padding-bottom: 54px;
		}

		a.carousel-wrapper-link {
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;

			@media screen and (min-width: $size-tablet-max) {
				display: none;
			}
		}

        div#countdownTimer {
            height: 115px;
            padding: 5px 0 5px 0;
            background: rgba(0,0,0,0.3);
            
            p {
                padding: 0!important;
                font-family: 'Segoe UI';
                font-size: 90px;
                font-style: normal;
                font-weight: lighter;
                text-transform: none;
                line-height: 1;

                @media screen and (max-width: $size-tablet-max) {
                    padding-top: 10px!important;
			        font-size: 70px;
	            }
            }

            @media screen and (max-width: $size-mobile-max) {
			    padding-top: 10px!important;
                height: 100px;

                p {
                    font-size: 50px;
                }
	        }
        }
        
        div#saleBanner {

            div {
                text-align: center;

                h1, h2 {
                    color: $color-white;
                    font-size: 110px;
                    font-weight: bold;  
                    font-style: italic;
                    text-transform: uppercase;
                    text-shadow: 3px 3px $color-blue-background;
                }
                h1 {
                    font-size: 188px;
                    margin-bottom: 0;
                }
                h1.mobileSavingsHeader {
                    padding: 0;
                    margin: 0;
                    font-size: 105px;
                }
                h1#mobileSavingsHeaderFirst {
                    margin-top: 20px;
                }
                h2 {
                    margin: 0;
                }

                @media screen and (max-width: $size-tablet-max) { 
                    h1 {
                        font-size: 138px;
                        padding-top: 10px;
                    }

                    h2 {
                        font-size: 80px;
                    }
	            }

                @media screen and (max-width: $size-mobile-max) { 
                    h1 {
                        font-size: 65px;
                        padding-top: 70px;
                    }

                    h2 {
                        font-size: 24px;
                    }
	            }
            }
        }
            
        div.col-sm-12#teamLogos {
            position: relative;
            top: -120px;
            
            div.col-sm-4 {
                text-align: center;

                img {
                    margin-top: 65px;
                    height: 260px;
                }
            }
        }

        div.vsText {
            top: 100px;
            text-align: center;
            
            span {
                color: $color-white;
                text-align: center;
                font-size: 130px;
                font-weight: bold;
                font-style: italic;
            }

            @media screen and (max-width: $size-tablet-max) { 
                top: -5px;

                span {
                    font-size: 90px;
                }
	        }

            @media screen and (max-width: $size-mobile-max) { 
                span {
                    font-size: 60px;
                }
	        }
        }

        div#teamNamesDiv {
            position: relative;
            top: -70px;
            background: rgba(255,255,255,0.2);
            
            div.col-sm-4{
                text-align: center;
                
                p {
                    padding-top:0;
                    text-transform: none;
                    font-style: normal;
                }
            }

            @media screen and (max-width: $size-tablet-max) {
                top: 50px;
	        }

            @media screen and (max-width: $size-mobile-max) {
			    top: 35px;
	        }
        }

		a.carousel-link {
			margin: 0 auto;
			border: solid white 2px;
			color: white;
			background-color: rgba(255, 255, 255, 0.2);
			font-size: 20px;
			padding: 15px;
			width: 220px;
			display: block;
			text-decoration: none;
			text-align: center;
		}

		.item {
			background: no-repeat right center;
			background-size: cover;
            background-position: 50%;
			height: 500px;

			@media screen and (max-width: $size-mobile-max) {
				height: 200px;

                a:hover {
                    text-decoration: none;
                }
			}

			@media screen and (max-width: $size-tablet-max) {
				height: 400px;
			}

			$color-item-primary: #FFA507;
			$color-item-secondary: white;

			p, li {
				font-family: $font-primary-bold;
				font-style: italic;
				font-weight: $font-primary-bold-weight;
				text-transform: uppercase;
			}

			&:nth-of-type(1) {

				p {
					text-align: center;
				}

				p:nth-of-type(1) {
					color: $color-item-secondary;
					font-size: 39px;
					padding-top: 24px;

                    @media screen and (max-width: $size-tablet-max) {
						font-size: 29px;
						padding-top: 40px!important;
					}

					@media screen and (max-width: $size-mobile-max) {
						font-size: 24px;
						padding-top: 0px!important;
					}
				}

				p:nth-of-type(2) {
					color: $color-item-primary;
					font-size: 208px;
					line-height: 0.6;

					@media screen and (max-width: $size-mobile-max) {
						font-size: 124px;
					}
				}

				p:nth-of-type(3) {
					color: $color-item-primary;
					font-size: 84px;

					@media screen and (max-width: $size-mobile-max) {
						font-size: 48px;
					}
				}
			}

			&:nth-of-type(2) {
				color: $color-item-secondary;
				padding-left: 128px;
				padding-right: 10px;

				@media screen and (max-width: $size-tablet-max) {
					padding-left: 86px;
				}

				@media screen and (max-width: $size-mobile-max) {
					padding-left: 54px;
				}

				p {
					font-size: 112px;
					margin-top: 24px;
					line-height: 1.0;

					@media screen and (max-width: $size-mobile-max) {
						font-size: 64px;
					}
				}

				ul {
					list-style-type: circle;

					li {
						font-size: 20px;
						padding-bottom: 6px;
					}
				}
			}

			&:nth-of-type(3) {

				p {
					text-align: center;
				}

				p:nth-of-type(1) {
					color: $color-item-primary;
					font-size: 128px;

					@media screen and (max-width: $size-mobile-max) {
						font-size: 64px;
						padding-top: 32px;
						line-height: 1.0;
					}

					span {
						font-size: 48px;
						vertical-align: 20px;

						@media screen and (max-width: $size-mobile-max) {
							font-size: 28px;
							vertical-align: 12px;
						}
					}
				}

				p:nth-of-type(2) {
					color: $color-item-secondary;
					font-size: 52px;
					line-height: 0.2;

					@media screen and (max-width: $size-mobile-max) {
						font-size: 26px;
						line-height: 1.2;
					}
				}
			}
		}
	}
}

.featured-areas {
	background-color: $color-blue-background;
    color: $color-white;
	
	.section-alt {
		margin: 35px 0;

		@media screen and (max-width: $size-mobile-max) {
			margin: 0;
			padding: 0 15px;
		}
	}

	.area-tile {

		@media screen and (max-width: $size-mobile-max) {
			background-color: $color-bar-background;
			padding: 15px;
			border-width: 1px 0;
			border-style: solid;
			border-color: $color-black;
		}

		table {
			display: block;
			position: relative;
            
            tbody tr:first-of-type td {
                padding-top: 10px;
            }    
               
            tr th {
                padding-bottom: 10px;
                font-family: 'Segoe UI';
                font-weight: normal;
                font-size: 17px;
                border-bottom: 1px solid $color-white;
            }   
		}

        table.twoColumns tr {
            th {
                width: 1%;      
            }
        }

        table.threeColumns tr {           
            th {
                width:1%;      
            }

            th:last-of-type {
                text-align: right;
            }
            
            td:nth-of-type(2) {
                text-align: center;
            }
            
            td:last-of-type {
                text-align: right;
            }
        }

        h3 {
            margin-top: 3px;
            padding-bottom: 13px;
            font-size: 17px;
            font-family: 'Segoe UI';
            font-weight: normal;
            border-bottom: 1px solid $color-white;

            @media screen and (max-width: $size-tablet-max) {
			    padding-bottom: 37px;
		    }

            @media screen and (max-width: $size-mobile-max) {
			    padding-bottom: 13px;
		    }
        }

        ul {
            list-style-type: none;
            display: inline-block;
            width: 49%;
            padding: 0;
        }
	}
}

#home-page {

    div#linkTiles div a:first-of-type img {
        padding-left: 0;
    }
    div#linkTiles div a:last-of-type img {
        padding-right: 0;
    }

	@media screen and (min-width: $size-mobile-max) {
		.section-alt {
			margin: 35px 0;
		}
	}

	.list-item-part {
		margin: 0;
	}

	.list-item-post {
		background-color: $color-background;
		margin: 0 0 15px 0;

		@media screen and (max-width: $size-tablet-max) {
			div {
				img {
					max-width: 50px;
					margin: 10px 0 10px 10px;
				}

				p {
					min-height: 41px;
					padding: 5px 5px 0 0;
					margin: 0;
				}
			}
		}

		div {
			img {
				width: 100%;
			}

			p {
				padding: 8px;
			}

			.social-icon {
				img {
					margin: 5px 0 10px 10px;
					width: 100%;
				}
			}

			.community-source {
				padding: 0 5px 5px 0;
			}
		}
	}
}

.product-list {
	@media screen and (min-width: $size-mobile-max) and (max-width : $size-tablet-max) {
		padding: 0 102px;
	}
}
